body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  color: green;
  font-weight: bold;
}
span + span {
  color: orange;
}
.heading {
  background-color: yellow;
  text-decoration: underline;
  color: black;
}
.header {
  margin-bottom: 50px;
}